@using PremiereApp.Extensions


@model IEnumerable<PremiereApp.Models.Subscriber>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<div>
    @using (Html.BeginForm("index", "GestionSub", FormMethod.Get))
    {
        @Html.DropDownList("categorie", (IEnumerable<SelectListItem>)ViewBag.category, new { @class = "form-control" })
    }
</div>

<p>
    @Html.GlyphActionLink("plus", "Creer", "Create", null)
</p>
<div id="table">
  @Html.Partial("_listerAbonnes")
</div>
@section scripts {
    <script type="text/javascript">
        $(function() {
            $('#categorie').change(function() {
                $('#table').load(
                    "@Url.Action("_listerAbonnes")?categorie=" +
                         $('#categorie').val());
            });
        });
    </script>

}