@using System.Globalization
@{
    ViewBag.Title = "Merci";
}

<h2>Merci</h2>

@foreach (CultureInfo langue in CultureInfo.GetCultures(CultureTypes.SpecificCultures))
{
   @langue.EnglishName @:,

}

